We can then save the Mahalanobis distance, as well as the threshold value and “anomaly flag” variable for both train and test data in a dataframe:

In [34]:
anomaly_train = pd.DataFrame()
anomaly_train['Mob dist']= dist_train
anomaly_train['Thresh'] = threshold
# If Mob dist above threshold: Flag as anomaly
anomaly_train['Anomaly'] = anomaly_train['Mob dist'] > anomaly_train['Thresh']
anomaly_train.index = X_train_PCA.index
anomaly = pd.DataFrame()
anomaly['Mob dist']= dist_test
anomaly['Thresh'] = threshold
# If Mob dist above threshold: Flag as anomaly
anomaly['Anomaly'] = anomaly['Mob dist'] > anomaly['Thresh']
anomaly.index = X_test_PCA.index
anomaly

                       Mob dist    Thresh  Anomaly
2004-02-13 23:52:39    1.032676  3.812045    False
2004-02-14 00:02:39    1.148163  3.812045    False
2004-02-14 00:12:39    1.509998  3.812045    False
2004-02-14 00:22:39    1.849725  3.812045    False
2004-02-14 00:32:39    0.701075  3.812045    False
...                         ...       ...      ...
2004-02-19 05:42:39  295.672654  3.812045     True
2004-02-19 05:52:39  208.319859  3.812045     True
2004-02-19 06:02:39  229.263413  3.812045     True
2004-02-19 06:12:39  105.693490  3.812045     True
2004-02-19 06:22:39  107.275401  3.812045     True

[760 rows x 3 columns]

In [33]:
anomaly

                       Mob dist    Thresh  Anomaly
2004-02-13 23:52:39    1.032676  3.812045    False
2004-02-14 00:02:39    1.148163  3.812045    False
2004-02-14 00:12:39    1.509998  3.812045    False
2004-02-14 00:22:39    1.849725  3.812045    False
2004-02-14 00:32:39    0.701075  3.812045    False
...                         ...       ...      ...
2004-02-19 05:42:39  295.672654  3.812045     True
2004-02-19 05:52:39  208.319859  3.812045     True
2004-02-19 06:02:39  229.263413  3.812045     True
2004-02-19 06:12:39  105.693490  3.812045     True
2004-02-19 06:22:39  107.275401  3.812045     True

[760 rows x 3 columns]